target/
log/
.classpath
.project
.settings
dependency-reduced-pom.xml
emplugins/com.sma.ui.core.jobdetails.msazurestorage/bin
emplugins/com.sma.ui.core.jobdetails.msazurestorage/.classpath
emplugins/com.sma.ui.core.jobdetails.msazurestorage/.project

